[submodule "Projects/Student_Performance_Indicator"]
	path = Projects/Student_Performance_Indicator
	url = https://github.com/SVyeole08/Student_Performance_Indicator.git
[submodule "Projects/FireWatch"]
	path = Projects/FireWatch
	url = https://github.com/SVyeole08/FireWatch.git
