.ipynb_checkpoints/
.virtual_documents/
anaconda_projects/
**/.gitignore
requirements_ml.txt
.vscode
__pycache__/
# Keep the nested project visible in the ML repo.
!Projects/Student_Performance_Indicator/